code/synapse/pipeline/Train.json
{
	"name": "Train",
	"properties": {
		"description": "Pipeline for training models.",
		"activities": [
			{
				"name": "InvokeTrainingPipeline",
				"description": "Invoke the training pipeline.",
				"type": "AzureMLExecutePipeline",
				"dependsOn": [
					{
						"activity": "CreateOrUpdateDeployment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"experimentName": "training",
					"mlPipelineParameters": {
						"tracking_uri": "azureml://northeurope.api.azureml.ms/mlflow/v1.0/subscriptions/757c4165-0823-49f7-9678-5a85fe5e17cc/resourceGroups/e2e_aml_ref_imp_ds_rg/providers/Microsoft.MachineLearningServices/workspaces/entml-dev-machinelearning001",
						"experiment_name": "training",
						"model_name": "supportvectorclassifier",
						"target_column_name": "Y",
						"test_size": "0.2"
					},
					"mlPipelineId": "d255c4c8-a6fe-4210-bc43-54e9541d674f"
				},
				"linkedServiceName": {
					"referenceName": "azureml001",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CreateOrUpdateDeployment",
				"description": "Create or update the deployment",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetModel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com@{pipeline().parameters.machineLearningId}/onlineEndpoints/@{pipeline().parameters.endpointName}/deployments/@{pipeline().parameters.deploymentName}?api-version=@{pipeline().parameters.apiVersion}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PATCH",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"location\": @{activity('GetDeployment').output.location},\n    \"tags\": {},\n    \"kind\": \"Managed\",\n    \"sku\": {\n        \"name\": \"Default\",\n        \"tier\": \"Standard\",\n        \"capacity\": 1\n    },\n    \"properties\": {\n        \"description\": \"A deployment using sklaern to predict diabetes.\",\n        \"properties\": {\n            \"AzureAsyncOperationUri\": \"https://management.azure.com/subscriptions/757c4165-0823-49f7-9678-5a85fe5e17cc/providers/Microsoft.MachineLearningServices/locations/northeurope/mfeOperationsStatus/od:27f93e8a-b02d-46c9-813d-44e249233787:14d4d5a6-aa3c-4a4c-9109-020aa98c1215?api-version=2022-10-01\"\n        },\n        \"codeConfiguration\": {\n            \"codeId\": \"/subscriptions/757c4165-0823-49f7-9678-5a85fe5e17cc/resourceGroups/e2e_aml_ref_imp_ds_rg/providers/Microsoft.MachineLearningServices/workspaces/entml-dev-machinelearning001/codes/31c831dc-f524-4b09-abd2-b2bfaae5fd77/versions/1\",\n            \"scoringScript\": \"main.py\"\n        },\n        \"environmentId\": \"/subscriptions/757c4165-0823-49f7-9678-5a85fe5e17cc/resourceGroups/e2e_aml_ref_imp_ds_rg/providers/Microsoft.MachineLearningServices/workspaces/entml-dev-machinelearning001/environments/CliV2AnonymousEnvironment/versions/b964c1f73ddc8f6d5c803a9913b770e4\",\n        \"environmentVariables\": {\n            \"TEST_KEY\": \"TEST_VALUE\"\n        },\n        \"scaleSettings\": {\n            \"scaleType\": \"Default\"\n        },\n        \"requestSettings\": {\n            \"maxQueueWait\": \"PT0S\",\n            \"requestTimeout\": \"PT5S\",\n            \"maxConcurrentRequestsPerInstance\": 1\n        },\n        \"modelMountPath\": null,\n        \"appInsightsEnabled\": true,\n        \"livenessProbe\": {\n            \"failureThreshold\": 30,\n            \"successThreshold\": 1,\n            \"timeout\": \"PT2S\",\n            \"period\": \"PT10S\",\n            \"initialDelay\": \"PT10S\"\n        },\n        \"readinessProbe\": {\n            \"failureThreshold\": 30,\n            \"successThreshold\": 1,\n            \"timeout\": \"PT2S\",\n            \"period\": \"PT10S\",\n            \"initialDelay\": \"PT10S\"\n        },\n        \"instanceType\": \"Standard_DS1_v2\",\n        \"model\": \"/subscriptions/757c4165-0823-49f7-9678-5a85fe5e17cc/resourceGroups/e2e_aml_ref_imp_ds_rg/providers/Microsoft.MachineLearningServices/workspaces/entml-dev-machinelearning001/models/supportvectorclassifier/versions/6\",\n        \"egressPublicNetworkAccess\": \"Disabled\",\n        \"endpointComputeType\": \"Managed\"\n    }\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "GetDeployment",
				"description": "Get Deployment",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com@{pipeline().parameters.machineLearningId}/onlineEndpoints/@{pipeline().parameters.endpointName}/deployments/@{pipeline().parameters.deploymentName}?api-version=@{pipeline().parameters.apiVersion}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "GetModel",
				"description": "Get Model",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetDeployment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com@{pipeline().parameters.machineLearningId}/models/@{pipeline().parameters.modelName}/versions?api-version=@{pipeline().parameters.apiVersion}&$orderBy=createdtime desc&$top=1",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetDeployment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@{activity('GetDeployment').output.location}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"machineLearningId": {
				"type": "string",
				"defaultValue": "/subscriptions/757c4165-0823-49f7-9678-5a85fe5e17cc/resourceGroups/e2e_aml_ref_imp_ds_rg/providers/Microsoft.MachineLearningServices/workspaces/entml-dev-machinelearning001"
			},
			"apiVersion": {
				"type": "string",
				"defaultValue": "2022-10-01"
			},
			"endpointName": {
				"type": "string",
				"defaultValue": "online-endpoint-diabetes"
			},
			"deploymentName": {
				"type": "string",
				"defaultValue": "batch-deployment-diabetes-green"
			},
			"modelName": {
				"type": "string",
				"defaultValue": "supportvectorclassifier"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}